@font-face {
    font-family: GeneralSans;
    src: url(/GeneralSans-Medium.woff2)
}



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: rgb(191, 240, 55);
    border-radius: 50%;
    position: fixed;
    z-index: 99 ;
}

#cursor-blur{
    width: 300px;
    height: 300px;
    background-color: rgba(191, 240, 55, 0.192);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9; 
}

#nav{
    height: 120px;
    width: 100%;
    /* background-color: #a554ed; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 100px ;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 70px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.116);

}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 #arrow{
    height:100px;
    width: 100px;
    background-color: transparent;
    border: 2px solid #9ccd17;
    position: absolute;
    display: flex;
    left: 1%;
    bottom: 1%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#page1 #arrow:hover{
    scale: 0.4;
    background-color: #24A437;
}

#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
    /* background-color: red; */

}

#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content:"EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1.2px rgb(11, 101, 7);
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page1 p{
    font-size: 14px;
    font-weight: 500;
    width: 50%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    position: relative;
    z-index: 10;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
   }
#scroller::-webkit-scrollbar
{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroller h4{
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-right: 20px;
    transition: all linear 0.5;
    color: transparent;
    -webkit-text-stroke: 2px rgb(191, 240, 55);
    text-transform: uppercase;
}
#scroller h4:hover{
    color: rgb(191, 240, 55);
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex ;
    align-items: center;
    justify-content: space-around;
    padding: 0px 55px;
    position: relative;
    z-index: 10 ;
}

#about-us img{
    height: 150px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in{
    width: 40%;
    text-align: center;
}
#about-us-in h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
} 

#about-us-in p{
    font-size: 20px;
    line-height: 25px;
}

#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.cards{
    height: 60%;
    width: 20%;
    /* background-color:blue; */
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6;
}

#card1{
    background-image: url(https://sidcup-golf-family.netlify.app/Assests/card1.avif);
}
#card2{
    background-image: url(https://sidcup-golf-family.netlify.app/Assests/card2.webp);
}
#card3{
    background-image: url(https://c8.alamy.com/comp/HRJKJ4/cricket-practice-batmen-bowlers-bowling-action-netts-HRJKJ4.jpg);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(191, 240, 55);
    padding-top: 140px;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6;
}

.overlay h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    /* white-space: nowrap;  */
    margin-bottom: 20px;
    font-weight: 900;
}

.overlay p{
    color: black;
    font-size: 13px;
}

.cards:hover .overlay{
    opacity: 1;
}
.cards:hover{
    transform: rotate3d(-1,1,0,20deg);
}


#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right top, #9CCA21,#24A437);
}

#green-div h4{
    width: 45%;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    color: black;
    font-size: 27px;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 15%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
     font-size: 35px;
     font-weight: 700;
     width: 55%;
     line-height: 45px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 15%;
    top: 20%;
}
#page3 #colon2{
    bottom: 20%;
    right: 15%;
}

#page4{
    height:50vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}

#page4 h1{
    font-size: 85px;
    position: absolute;
    top: -1%;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 2px white ;
}

.elem{
    height: 50%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #9CCA21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    font-weight: 40px;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
    text-transform: uppercase;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem:hover h2{
    color: white;
    background-color: transparent;
}

.elem:hover img{
    scale: 1;
}

#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to left bottom,#24A437,#9CCA21 );
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 100px;
    padding: 0 90px;
}

#footer>img{
    position: absolute;
    left: 4px;
    height: 90%;
    z-index: 1;
}

#f1 img{
    height: 100px;
}

#f1,#f2,#f3,#f4{
    width:fit-content;
    position: relative;
    z-index: 99;
}

#f2 h3{
    font-size:30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3{
    font-size:30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    margin-bottom: 8px;
}


#f4 h4{
    font-size:18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}


.youtube .cridit{
    height: 50%;
    width: 100%;
    padding: 3vw 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}

.youtube{
    display: flex;
    position: relative;
    align-items: center;
    justify-content:space-around;
    position: relative;
}

.youtube img{
    height: 80px;
}

.youtube #logo{
    padding-right: 2vw;
}

.youtube #sher{
    height: 100px;
    border-radius: 50%;
}